.logo{
    width:40%;
}
table{
    width:100%;
    table-layout: fixed;
    border:0
    /* background-color: rgb(96, 96, 196); */
}
td{
    border: 0;
}
button{
    background-color: orange;
    color: white;
    border: 0;
    float:right;
    width: 90px;
    height:35px;
    margin: 20px 70px 20px 0px
}
article{
    height:520px;
    float: right;
    box-shadow: 2px 2px rgb(131, 131, 131);
    border:1px solid black;
    margin: 0px 5px 0px 5px;
    border-radius: 3px;
    padding: 5px 15px 5px 15px
}
h2{
    color:blue;
    font-weight: bold;
    text-transform:uppercase;
}
h3{
    text-align: right;
    font-weight: normal;
}
.footer{
    font-weight: bold;
}
.blogpic{
    width: auto;
    height: 225px;
    margin: 10px 0px 10px 0px
}
.section{
    font-size: 30px;
    padding-left: 15px;
    color:blue
}
li{
    display:block;
    float:left;
    width:30px;
    height: 30px;
    margin:2px;
    background-color: blue;
    color: white;
    text-align: center;
    padding:5px
}
li:hover{
    background-color: orange;
}
.content{
    background-color: rgb(240, 240, 240);
}